<header class="header glass">
  <div class="header-left">
    <img src="assets/images/logo.png" class="logo">
  </div>

  <nav class="header-center">
    <a href="index.html" data-lang="menu_home">Home</a>
    <a href="about.html" data-lang="menu_about">About</a>
    <a href="booking.html" data-lang="menu_booking">Booking</a>
    <a href="contact.html" data-lang="menu_contact">Contact</a>
  </nav>

  <div class="header-right lang-switch">
    <span onclick="setLang('vi')">VI</span>
    <span>|</span>
    <span onclick="setLang('en')">EN</span>
  </div>
</header>
